body {
    background-color: #282828;

}
h4 {
    color:white
}
h5 {
    color:red
}
h6 {
    color:red
}
p {
    color:white
}
.btn-secondary {
    color:#999999;
    background-color:#999999;
    border-color:black;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-pressed {
    color: #000000;
    background-color:#999999;
    border-color: #000000;
}

