<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MoneyMouth{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/base.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a href="#" class="pull-left"><img src="/images/logo.png"></a>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">My Pools</a></li>
                        <li><a href="#">Join Pool</a></li>
                        <li><a href="#">Create Pool</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                    crossorigin="anonymous">
            </script>
        {% endblock %}

        {% block footer %}
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container text-center">
                    <h6>About | Contact | Advertise | Terms of Use | Support | Privacy | Mobile App | <a href="/logout" class="foot">Logout</a></h6>
                    <h6>&copy; {{ "now" | date('Y') }} MoneyMouth LLC. All Rights Reserved.</h6>
                </div>
            </div>
        {% endblock %}
    </body>
</html>


