<div class="container">
    <div class="jumbotron">
        <h3>Hello {{ app.user.username }}!</h3>
        <h5>Pool Name: {{ pool.name }}</h5>
        <h5>Pool Type: {{ pool.type }}</h5>
        {% if pool.isExpired %}
            <h5>This pool is expired, you can't make any changes.</h5>
        {% endif %}
    </div>
</div>